@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background: linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff) no-repeat  !important ;
  height: 100vh;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: monospace !important;
  color: white;
}
